* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.75) 100%),
    radial-gradient(circle at center center, #64664acc, #000000ee);

  background-size: 
    cover,
    200% 200%;

  background-position: 
    center center,
    50% 0%;

  animation: fogPulse 30s ease-in-out infinite alternate;
  
  color: #e6e6e6;
  font-family: 'Special Elite', cursive;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@keyframes fogPulse {
  0% { 
    background-position: center center, 50% 0%; 
  }
  50% { 
    background-position: center center, 50% 100%; 
  }
  100% { 
    background-position: center center, 50% 0%; 
  }
}

.titulo {
  text-align: center;
  margin-top: 40px;
}

.titulo img {
  display: block;
  margin: 0 auto;
  width: 95%;
  max-width: 400px;
  height: auto;
  filter: drop-shadow(0 0 15px rgb(229, 230, 219));
}

.frase {
  background-color: rgba(225, 228, 196, 0.8);
  color: #000;
  width: 70%;
  max-width: 750px;
  margin: 45px auto;
  padding: 18px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.5;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
  .titulo img { width: 60%; }
  .frase {
    width: 85%;
    font-size: 1rem;
    margin: 40px auto;
  }
}

@media (max-width: 480px) {
  .titulo img { width: 70%; }
  .frase {
    width: 90%;
    font-size: 0.95rem;
    padding: 12px;
  }
}